<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sharat College of Engineering | Campus</title>
    <link href="D:\Users\sbanerj1\stsworkspace\practise\src\main\resources\Static\admission.css" rel="stylesheet" />
</head>
<body>

    <div id="main">
        <div id="header">

            <img src="images/logo.png" />
            <br />
            <h1>Sharat College of Engineering</h1>


            <p style="margin-top: -20px;">"Where Education Matters"</p>

            <ul>
                <li>
                    <img src="images/home.png" /><a href="index.html">Home</a></li>
                <li>
                    <img src="images/about.png" /><a href="about.html">About Us</a></li>
                <li>
                    <img src="images/contact.png" /><a href="contactus.aspx">Contact Us</a></li>
            </ul>
            <br />

        </div>
        <div style="clear: both"></div>

        <div id="left">
            <ul>
                <li>
                    <img src="images/user.png" /><a href="faculty.html">Faculty</a></li>
                <li>
                    <img src="images/admission.png" /><a href="admission.html">Admission</a></li>
                <li>
                    <img src="images/campus.png" /><a href="campus.html">Campus</a></li>
                <li>
                    <img src="images/placement.png" /><a href="placement.html">Placements</a></li>
                <li>
                    <img src="images/course.png" /><a href="course.html">Courses</a></li>

                <li>
                    <img src="images/gallery.png" /><a href="gallery.html">Gallery</a></li>

            </ul>
        </div>

        <div id="right">
            <h1>College Campus</h1>
            <hr />
            <img src="images/campus.jpg" style="width: 570px; height: 200px;" />

            <p style="line-height: 35px;">
                The college campus of Sharat College of Engineering, Panipat is meticulously planned and is setup at 26 acres land with state of the art buildings and infrastructure in the foot steps of historical state Haryana.
                <br />
                The campus is having 1,00,000 sq. ft. covered area. The College Campus divided into functional zones like Hostels, main College Buliding, Administration Block and a sports complex.
                <br />
                <br />
                The campus is well equipped with well-planned building having facilities like well lit lecture halls, tutorial rooms, drawing halls, laboratories, computer centre, library, canteen, hostel, sports complex. The campus is having lush green lawns and landscaping is done by experts.
            </p>
        </div>


        <div style="clear: both;"></div>

        <div id="footer">
            <br />
            <p>Copyright 2014 @Sharat college of engineering.</p>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contactus.aspx">Contact Us</a></li>


            </ul>

        </div>
    </div>

</body>
</html>
