<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sharat College of Engineering | Courses</title>
    <link href="D:\Users\sbanerj1\stsworkspace\practise\src\main\resources\Static\admission.css" rel="stylesheet" />
</head>
<body>

    <div id="main">
        <div id="header">

            <img src="images/logo.png" />
            <br />
            <h1>Sharat College of Engineering</h1>


            <p style="margin-top: -20px;">"Where Education Matters"</p>

            <ul>
                <li>
                    <img src="images/home.png" /><a href="index.html">Home</a></li>
                <li>
                    <img src="images/about.png" /><a href="about.html">About Us</a></li>
                <li>
                    <img src="images/contact.png" /><a href="contactus.aspx">Contact Us</a></li>
            </ul>
            <br />

        </div>
        <div style="clear: both"></div>
         <div id="left">
            <ul>
                <li>
                    <img src="images/user.png" /><a href="faculty.html">Faculty</a></li>
                <li>
                    <img src="images/admission.png" /><a href="admission.html">Admission</a></li>
                <li>
                    <img src="images/campus.png" /><a href="campus.html">Campus</a></li>
                <li>
                    <img src="images/placement.png" /><a href="placement.html">Placements</a></li>
                <li>
                    <img src="images/course.png" /><a href="course.html">Courses</a></li>

                <li>
                    <img src="images/gallery.png" /><a href="gallery.html">Gallery</a></li>

            </ul>
        </div>
        <div id="right">
            <h1>Courses</h1>
            <hr />
            <p>SCE offers various courses in Computers including : Software, Multimedia, and Computing.</p>
          <p>Software Engineering : </p>
             <hr  style="width:190px;"/>
            <ol style="list-style-type:square; line-height:35px;">
                <li>Duration : 4 years</li>
                <li>Fee Structure : 4 Lac</li>
                <li>Description : Learn computer programming in Software Engineering.</li>
            </ol>

            <p>Multimedia Engineering : </p>
            <hr  style="width:190px;"/>
            <ol style="list-style-type:square; line-height:35px;">
                <li>Duration : 4 years</li>
                <li>Fee Structure : 3.5 Lac</li>
                <li>Description : Learn computer animation in Multimedia Engineering.</li>
            </ol>

              <p>Computing Engineering : </p>
             <hr  style="width:190px;"/>
            <ol style="list-style-type:square; line-height:35px;">
                <li>Duration : 4 years</li>
                <li>Fee Structure : 4.5 Lac</li>
                <li>Description : Learn Hardware in Computing Engineering.</li>
            </ol>
        </div>


        <div style="clear: both;"></div>

        <div id="footer">
            <br />
            <p>Copyright 2014 @Sharat college of engineering.</p>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contactus.aspx">Contact Us</a></li>


            </ul>

        </div>
    </div>

</body>
</html>
